<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title>Pencil Code test</mat-card-title>
            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" [disabled]="loading"
                    (click)="loginGoogle()"><span class="buttonText">Sign in with Google</span></button>
            </mat-card-actions>
        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
</div>