<div fxFlex="100%">
  <mat-toolbar class="navbar">
    
    <div (click)="uploadFile.click()" *ngIf="!readOnly">
      <mat-icon aria-hidden="false" class="image">image</mat-icon>
      <input #uploadFile (change)="upload($event)" type="file" accept="image/png, image/gif, image/jpeg" style="display:none"/> 
    </div>
    <div (click)="setDrawingMode(false)" [ngClass]="{'fn-active': isDrawingMode }" *ngIf="!readOnly">
      <mat-icon aria-hidden="false" class="image">open_with</mat-icon>
    </div>
    <div (click)="setDrawingMode(true)" [ngClass]="{'fn-active': !isDrawingMode }" *ngIf="!readOnly">
      <mat-icon aria-hidden="false" class="image">edit</mat-icon>
    </div>
    <mat-slider max="50" min="10" [(ngModel)]="width"  (change)="fabricService.lineWeight=width" *ngIf="isDrawingMode"> </mat-slider>
    <input [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="fabricService.color=color" class="colorPicker" *ngIf="isDrawingMode" readonly>
    <div (click)="reset()" *ngIf="!readOnly" >
      <mat-icon aria-hidden="false" class="image">delete</mat-icon>
    </div>
    <div (click)="viewShareInput=!viewShareInput" *ngIf="!readOnly" >
      <mat-icon aria-hidden="false" class="image">share</mat-icon>
    </div>
      <mat-form-field *ngIf="viewShareInput" class="share-email-input">
        <input matInput [(ngModel)]="shareEmail" required email="true">
      </mat-form-field>
      <a (click)="share(shareEmail)" *ngIf="viewShareInput" ><mat-icon aria-hidden="false" class="image">send</mat-icon></a>
     
    <span class="navbar-spacer"></span>
    <button mat-button (click)="viewMyDraw()">
      <mat-icon>home</mat-icon>
      <span fxShow fxHide.xs>
        My Draw
      </span>
    </button>
    <button mat-button [matMenuTriggerFor]="sharedMenu">
      <mat-icon>share</mat-icon>
      <span fxShow fxHide.xs>
        Shared With Me
      </span>
    </button>
    <mat-menu #sharedMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item (click)="viewDraw(doc.canvas)" *ngFor="let doc of shared" >
        <mat-icon>image</mat-icon>
        <span>{{doc.displayName}}</span>
      </a>

    </mat-menu>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <canvas width="1280px" height="860px" class="canvas" id="fabricSurface"></canvas>
</div>
